---
    import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Team Test Page" disableHero>
    <h1>Lawyers's Testing Page</h1>

    <h1>GET OUTTTTTTTTTTTTTTTTTTTTTTTT</h1>

</Layout>