<h1> Cyberpatriot Secret Page! </h1>
<h2> You found the secret Cyberpatriot page!</h2>
<hr>

Beyond this point, this is out of bounds.
If you are not part of the cyberpatriot team, please <a href="/">go back to the main website:</a>


<h3>Testing pages</h3>

Goodman:<a></a>

<a></a>