---
import DepartmentLayout from "../../layouts/DepartmentLayout.astro";

import { getCollection } from 'astro:content';
const departments = await getCollection('departments');

const {frontmatter} = Astro.props;
    
---


<!-- PLACEHOLDER FOR NOWWWWWWWWWWw -->

<DepartmentLayout>
    <div id="Main-Container">
        <h1 id="title">Departments</h1>
        <hr>
        <ul>
        <hr>
        {departments.map(department => (
            <span>| <a href={`/departments/${department.id}`}>{department.data.name}</a></span> <hr></hr>
        ))}
        </ul>
        <hr>
    </div>

    <style lang="less">
        #Main-Container{
            padding: 25px;
            background-color: rgb(9, 8, 17);
        }
        #title{
            position: relative;
            left:-25px;
            width:100vw;
            margin-block: 50px;
            padding: 25px;
            background-color: rgb(11, 9, 43);
            border-block: 1px rgb(248, 248, 248) solid;
        }
        ul{
            background-color: rgb(31, 31, 31);
            
            padding: 25px;

            span{
                position: relative;
                padding: 10px;
                a{color:white;}
            }
        }

    </style>
</DepartmentLayout>
