---
import Layout from "../../../../layouts/Layout.astro";

// Style & JS
import "../../../../style/orders.css";
---

<Layout title="General Orders" disableHero >
<div class="BG555">
    <div class="container">
        <div class="section-header">
            <h1 class="section-title">United States Navy</h1>
            <p class="section-subtitle">General Orders</p>
        </div>

        <div class="study-options-section">
            <div class="section-header">
                <h2 class="section-title">Study Options</h2>
            </div>
            <div class="options-grid">
                <a href="https://play.blooket.com/solo?id=65d4f8a78a408800b644aea8" class="study-option">
                    <div class="option-icon">
                        <img src="/icons/Blooket-Emblem.png" alt="Blooket">
                    </div>
                    <div class="option-content">
                        <h3 class="option-title">Blooket</h3>
                        <p class="option-desc">By Cadet Espinoza</p>
                    </div>
                </a>
                
                <a href="https://quizlet.com/886688400/11-navy-general-orders-ns1-flash-cards/?i=5p81a4&x=1qqt" class="study-option">
                    <div class="option-icon">
                        <img src="/icons/quizlet-inc-logo-vector.png" alt="Quizlet">
                    </div>
                    <div class="option-content">
                        <h3 class="option-title">Quizlet</h3>
                        <p class="option-desc">By Cadet Ibarra</p>
                    </div>
                </a>
                
                <a href="https://youtube.com/playlist?list=PLjMD4fR1UJNcsiiVBZpgIvna71vVloQGB&si=jAwMHLYszYWqBH3r" class="study-option">
                    <div class="option-icon">
                        <img src="/icons/youtube-svgrepo-com.svg" alt="YouTube">
                    </div>
                    <div class="option-content">
                        <h3 class="option-title">YouTube Videos</h3>
                        <p class="option-desc">Study Playlist</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="orders-section">
            <div class="orders-grid">
                <div class="orders-card">
                    <div class="orders-header">
                        <h2 class="orders-title">11 Navy General Orders</h2>
                    </div>
                    <ol class="orders-list">
                        <li>To take charge of this post and all government property in view.</li>
                        <li>To walk my post in a military manner, keeping always on the alert and observing everything that takes place within sight or hearing.</li>
                        <li>To report all violations of orders I am instructed to enforce.</li>
                        <li>To repeat all calls from posts more distant from the guardhouse than my own.</li>
                        <li>To quit my post only when properly relieved.</li>
                        <li>To receive, obey, and pass on to the sentry who relieves me all orders from the Commanding Officer, Officer of the Day, and Officers and Petty Officers of the Watch.</li>
                        <li>To talk to no one except in the line of duty.</li>
                        <li>To give the alarm in case of fire or disorder.</li>
                        <li>To call the officer of the deck in any case not covered by instructions.</li>
                        <li>To salute all officers and all colors and standards not cased.</li>
                        <li>To be especially watchful at night and during the time for challenging, to challenge all persons on or near my post, and to allow no one to pass without proper authority.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
</Layout>