---
import Layout from '../../../../layouts/Layout.astro';

// Style & JS
import "../../../../style/flashcard.css";
---

<Layout title="Cadets" disableHero>
    <div class="flashcard-section">
        <div id="FlashCard-BG">
            <div class="container">
                <div class="flashcard-stack">
                    <a href="/cadet/tool/flashcard/chain/" class="flashcard card-back"></a>
                    <a href="/cadet/tool/flashcard/chain/" class="flashcard card-middle"></a>
                    <a href="/cadet/tool/flashcard/chain/" class="flashcard card-front">
                        <div class="card-label">Chain of Command</div>
                        <div class="card-title">Flashcards</div>
                    </a>
                </div>

                <div class="flashcard-stack">
                    <a href="/cadet/tool/flashcard/navy/" class="flashcard card-back"></a>
                    <a href="/cadet/tool/flashcard/navy/" class="flashcard card-middle"></a>
                    <a href="/cadet/tool/flashcard/navy/" class="flashcard card-front">
                        <div class="card-label">Navy Ranks</div>
                        <div class="card-title">Flashcards</div>
                    </a>
                </div>

                <div class="flashcard-stack">
                    <a href="/cadet/tool/flashcard/abc/" class="flashcard card-back"></a>
                    <a href="/cadet/tool/flashcard/abc/" class="flashcard card-middle"></a>
                    <a href="/cadet/tool/flashcard/abc/" class="flashcard card-front">
                        <div class="card-label">Military Alphabet</div>
                        <div class="card-title">Flashcards</div>
                    </a>
                </div>

                <div class="flashcard-stack">
                    <a href="/cadet/tool/flashcard/ami/" class="flashcard card-back"></a>
                    <a href="/cadet/tool/flashcard/ami/" class="flashcard card-middle"></a>
                    <a href="/cadet/tool/flashcard/ami/" class="flashcard card-front">
                        <div class="card-label">AMI questions</div>
                        <div class="card-title">Flashcards</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>