---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Image from 'astro/components/Image.astro';

// images & videos
import Darker_shoes from '../assets/Darker-Shoes.png';
import Cow from "../assets/shake-head-shaking-head.gif";
// NOTE: Vibe Code ts until we get the original webstie back 
---

<Layout title='Home' subtitle="Honor | Courage | Commitment">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor excepturi enim ipsam corrupti soluta quas earum quidem ipsum reiciendis distinctio? Obcaecati quasi perferendis similique in maiores molestias officia mollitia facere.</p>
    <Image src={Darker_shoes} width={400} height={300} alt="Darker Shoes - Alexander" />
    <blockquote>Darker Shoes  <pre>—Alexander, Fri 8:35 PM, Instragram "NS III" Group Chat</pre></blockquote>

</Layout>
