---
    import Layout from "../../../../../layouts/Layout.astro";
---

<Layout title="Test" disableHero>
<h1>Self Test</h1>

<div>
    <h1>General Orders Test</h1>
    <ul id="questions">
        <li></li>
    </ul>
</div>

<script>
    let questions = [
        "What is your first general order?",
        "What is your second general order?", 
        "What is your third general order?",
        "What is your fourth general order?",
        "What is your fifth general order?",
        "What is your sixth general order?",
        "What is your seventh general order?",
        "What is your eighth general order?",
        "What is your ninth general order?",
        "What is your tenth general order?",
        "What is your eleventh general order?",
    ]
    let answers = [
        "To take charge of this post and all government property in view",
        "To walk my post in a military manner keeping always on the alert and observing everything that takes place within sight or hearing",
        "To report all violations of orders I am instructed to enforce",
        "To repeat all calls from posts more distant from the guardhouse than my own",
        "To quit my post only when properly relieved",
        "To receive, obey, and pass on to the sentry who relieves me all orders from the commanding officer, officer of the day, and officers and noncommissioned officers of the guard only",
        "To talk to no one except in the line of duty",
        "To give the alarm in case of fire or disorder",
        "To call the corporal of the guard in any case not covered by instructions",
        "To salute all officers and all colors and standards not cased",
        "To be especially watchful at night and during the time for challenging, to challenge all persons on or near my post, and to allow no one to pass without proper authority"
    ]
    let testContainer = document.getElementById("questions")! 
    questions.map((q, i) => {

        // text and stuff
        let Container = document.createElement("li");

        let text = document.createElement("span");
        text.innerText = q;
        Container.appendChild(text);

        let br = document.createElement("br");
        Container.appendChild(br);

        // Answer input
        let input = document.createElement("input");
        input.type = "text";
        Container.appendChild(input);

        // Check answer
        let checkButton = document.createElement("button");
        checkButton.innerText = "Check Answer";
        checkButton.onclick = () => {
            if(input.value.trim().toLowerCase() === answers[i].toLowerCase()){
                alert("Correct!");
            } else {
                alert(`Incorrect! The correct answer is: "${answers[i]}"`);
            }
        }
        Container.appendChild(checkButton);


        testContainer.appendChild(Container);
        return Container
    });
</script>

</Layout>