---
import Layout from "../../layouts/Layout.astro";
import Rolling from "../../components/Rolling.astro";
---

<Layout title="Parlier Unified" subtitle="NJROTC" disableHero>
<div id="Main-Container">
    <h1 id="title">Calendar</h1>
    <div id="container">
        <div>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&showTitle=0&showTabs=0&showTz=0&src=bmpyb3RjcGFybGllckBnbWFpbC5jb20&src=ZDQxZDFjMWVlMzkyZDUzOTRiNmFmNWFiY2NmMDdmMTAwYzhjYmUxNzA0NzA5MWYzZTg0Mzc3YWM3NjRkZGI5ZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Njk5ZWMyNjYwMmYyMTViNTVlZTAzMmY0YWY5ZjcxZjUwMjM1NzU0Zjc5ZmQxYTViY2ExY2M5M2VjNjY5OTVlNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039be5&color=%233f51b5&color=%23a79b8e" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <h2>Annoucements:</h2>
            <p>
                No current annoucements
            </p>
        </div>
    </div>
    <style>
        #Main-Container{
            padding: 25px;
            background-color: rgb(9, 8, 17);
        }
        #title{
            position: relative;
            left:-25px;
            width:100vw;
            margin-block: 50px;
            padding: 25px;
            background-color: rgb(11, 9, 43);
            border-block: 1px rgb(248, 248, 248) solid;
        }
        #container{
            display: flex;
            gap:5vw;
        }

        #calendar-frame{
            border: 5px solid rgb(117, 108, 20);
            border-radius: 10px;
        }
    </style>

    <style is:inline>
        iframe #yDmH0d{
            background-color: cyan;
        }
    </style>
</div>
</Layout>