---
// Footer.astro
---
<footer style="    margin-top: 50px;display: flex; justify-content: center; align-items: center; background: #000000; color: #fff; padding: 2rem 0; text-align: center;">
  <div>
    <p>&copy; {new Date().getFullYear()} | Parlier Unified NJROTC</p>
    <nav style="margin-top: 1rem;">
    </nav>
  </div>
</footer>
