---

interface Props {
    title: string;
    subtitle?: string;
    color?: string;
    videoUrl?: ImageMetadata | string;
}
const { title, subtitle } = Astro.props;
---

<section class="hero">
    <div class="parallax-bg"></div>

    <div class="hero-content">

        <h1 class="hero-title">
            <span class="title-line1">{title}</span>
            <div style="">
                <div class="underline-container"><svg class="underline-svg" viewBox="0 0 600 100" preserveAspectRatio="xMidYMid meet"><path class="underline-path" d="M 3.3783784,40 C 32.548378,39.04 139.52838,32.94 197.87838,33.58 c 58.35,0.64 188.67,10.7 194.5,10.7 5.83,0 -103.09,-12.3 -155.6,-10.7 -52.51,1.6 -141.838067,15.263666 -152.93359,17.100026" vector-effect="non-scaling-stroke"data-astro-cid-bbe6dxrz=""id="path1"style="fill: none; stroke: #e6b220; stroke-width: 6; stroke-dasharray: 1200; stroke-dashoffset: 1150;stroke-linecap:round;stroke-linejoin:round"/></svg></div>                
            </div>
            { subtitle ? <span class="title-line2" >{subtitle}</span> : ''}
        </h1>
    </div>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Roboto Condensed", sans-serif;
            overflow-x: hidden;
            color: #fafaf5;
            background: #000;
        }

        .hero {
            min-height: 115vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            padding: 2rem;
        }

        .parallax-bg {
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 110%;
            background-image: url("/Photo/Front.jpg");
            transform: scale(1.1);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            z-index: -2;
            opacity: 0.7;
        }

        .parallax-bg::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to bottom,
                #023c71b3,
                rgba(0, 0, 0)
            );
            z-index: 1;
        }

        .hero-content {
            text-align: center;
            z-index: 2;
            padding: 2rem;
            max-width: 1000px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .hero-title {
            font-family: "Montserrat", sans-serif;
            font-size: 5.5rem;
            font-weight: 800;
            margin-bottom: 3rem;
            position: relative;
            display: inline-block;
            line-height: 1.1;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            padding: 0 1rem;
        }

        .title-line1 {
            color: #e6b220;
            display: block;
            letter-spacing: 1px;
        }

        .title-line2 {
            color: #fafaf5;
            display: block;
            letter-spacing: 2px;

            position: relative;
            bottom: 80px;
        }

        .underline-container {
            position: relative;
            bottom: 65px;
            left: 0;
            width: 153%;
            height: 85px;
            z-index: 5;
            overflow: hidden;
        }

        .underline-svg {
            position: absolute;
            width: 100%;
            left: 0px;
        }

        .underline-path {
            animation: draw 2.5s ease-in-out forwards;
        }

        @keyframes slideIn {
            to {
                left: 0;
            }
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 0;
            }
        }
        @media (orientation: portrait)  {
            .hero-title {
                font-size: 3.5rem;
            }

            .hero-subtitle {
                font-size: 1.5rem;
            }

            .underline-container {
                bottom: 0px;
                height: 35px;
                display: flex;
                align-items: center;
            }
            .title-line2{
                position: relative;
                bottom: 0px;
                padding-left: 0px;
                margin-top: 0px;
            }
            ,.underline-svg {
                height: 50px;
            }
        }
        
    </style>

    <script lang="js">
        document.addEventListener("scroll", function () {
            const scrollPosition = window.scrollY;
            const parallaxBg = document.querySelector(".parallax-bg");
            parallaxBg.style.transform = `translateY(${scrollPosition * 0.4}px) scale(1.1)`;
        });

        setTimeout(function () {
            document.querySelector(".hero-title").style.textShadow =
                "2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 15px rgba(230, 178, 32, 0.4)";
            document.querySelector(".hero-subtitle").style.textShadow =
                "1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 10px rgba(230, 178, 32, 0.3)";
        }, 5000);
    </script>
</section>
