---
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	heroTitle?: string;
	subtitle?: string;
	heroVideo?: ImageMetadata | string;
	disableHero?: boolean;
	maintain?: boolean;
	fancyBackground?: boolean;
}
const {
	title,
	heroTitle,
	subtitle,
	heroVideo,
	disableHero = false,
	maintain = false,
	fancyBackground = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="theme-color" content="#023c71" />
		<link rel="icon" href="/16x16.svg" type="image/svg+xml" sizes="16x16" />
        <link rel="icon" href="/32x32.svg" type="image/svg+xml" sizes="32x32" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/Parlier-Unified_NJROTC.svg" sizes="any"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>PHS NJROTC - {title}</title>
		<!-- Open Graph/Twitter Cards (for better social sharing) -->
		<meta
			name="description"
			content="Parlier Unified NJROTC - Developing leaders through naval science education."
		/>

		<!-- Facebook Meta Tags -->
		<meta
			property="og:url"
			content="https://parlier-unified-njrotc.github.io/"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Parlier Unified NJROTC" />
		<meta
			property="og:description"
			content="Parlier Unified NJROTC - Developing leaders through naval science education."
		/>
		<meta
			property="og:image"
			content="https://opengraph.b-cdn.net/production/images/aca28fb3-e13e-4495-b1a9-2975ac4d773d.png?token=kj6Fb7_FGDnOehMvhLLAFdROjf_Zw27-ZeSTmQh29io&height=595&width=1200&expires=33297253218"
		/>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:domain"
			content="parlier-unified-njrotc.github.io"
		/>
		<meta
			property="twitter:url"
			content="https://parlier-unified-njrotc.github.io/"
		/>
		<meta name="twitter:title" content="Parlier Unified NJROTC" />
		<meta
			name="twitter:description"
			content="Parlier Unified NJROTC - Developing leaders through naval science education."
		/>
		<meta
			name="twitter:image"
			content="https://opengraph.b-cdn.net/production/images/aca28fb3-e13e-4495-b1a9-2975ac4d773d.png?token=kj6Fb7_FGDnOehMvhLLAFdROjf_Zw27-ZeSTmQh29io&height=595&width=1200&expires=33297253218"
		/>
	</head>
	<body>
		<Header />
		<!-- transition:persist is required, else switching pages messes it up -->
		<!-- Also I wanna disable it for department layout -->
		{
			disableHero ? null : (
				<Hero
					title={heroTitle || title}
					subtitle={subtitle}
					videoUrl={heroVideo}
				/>
			)
		}
		{maintain ? <Work /> : null}
		{
			fancyBackground ? (
				<main class="BG555">
					<slot />
				</main>
			) : (
				<main>
					{" "}
					<slot />{" "}
				</main>
			)
		}
		<Footer />
	</body>
</html>

<style is:global>
	html,
	body {
		color: white;
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;
		overscroll-behavior: none;
	}

	main {
	}

	blockquote,
	pre {
		margin: 0;
		padding: 0;
	}

	h1 {
		font-size: 4em;
	}
	.BG555 {
		background: #000000;
		color: #fafaf5;
		position: relative;
		z-index: 1;
		overflow-x: hidden;
		min-height: 100vh;
	}

	.BG555::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(
				circle at 20% 50%,
				rgb(2 60 113 / 40%) 0%,
				transparent 50%
			),
			radial-gradient(
				circle at 80% 20%,
				rgb(2 60 113 / 40%) 0%,
				transparent 50%
			);
		z-index: -1;
	}
</style>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebSite",
		"name": "Parlier Unified NJROTC",
		"alternateName": "Parlier-Unified-NJROTC",
		"url": "https://parlier-unified-njrotc.github.io/",
		"sameAs": [
    "https://parlier-njrotc.github.io/",
    "https://www.facebook.com/ParlierNJROTC",
    "https://twitter.com/ParlierNJROTC"
  ]
}
</script>
