---


import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title:string;
	heroTitle?:string;
	subtitle?:string;
	heroVideo?:ImageMetadata | string;
	disableHero?:boolean
	maintain?:boolean;
}
const { title, heroTitle, subtitle, heroVideo, disableHero = false, maintain = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Parlier-Unified_NJROTC.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>PHS NJROTC - {title}</title>

		
	</head>
	<body>
		<Header />
		<!-- transition:persist is required, else switching pages messes it up -->
		<!-- Also I wanna disable it for department layout -->
		{disableHero ? null : <Hero title={heroTitle || title} subtitle={ subtitle } videoUrl={ heroVideo } />}
		{maintain ? <Work /> : null}
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	html,
	body {
		color: white;
		margin: 0;
		width: 100%;
		height: 100%;
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		overscroll-behavior: none;

	}

	main {
		
	}

	blockquote,pre{
		margin: 0;
		padding: 0;
	}

	h1{
		font-size: 4em;
	}
</style>
