<div class="form-group">
  <label for="grade">Grade Level *</label>
  <select id="grade" name="grade" class="form-control" required>
    <option value="">Select Grade</option>
    <option value="9">9th Grade</option>
    <option value="10">10th Grade</option>
    <option value="11">11th Grade</option>
    <option value="12">12th Grade</option>
  </select>
</div>

